<footer class="footer-container">
    <div class="footer-content">
      <div class="footer-column">
        <h3>Molina's book</h3>
        <p>Descubre un mundo de conocimiento y lectura en línea.</p>
        <p><strong>Sé curioso.</strong></p>
      </div>
  
       <!-- <div class="footer-column">
        <h4>Explora</h4>
        <ul>
          <li><a routerLink="/">Inicio</a></li>
          <li><a routerLink="/about">Sobre Nosotros</a></li>
          <li><a href="#categorias">Categorías</a></li>
          <li><a routerLink="/loans">Préstamos</a></li>
        </ul>
      </div> -->

      <div class="footer-column">
        <h4>Visítanos</h4>
        <p>Biblioteca Central</p>
        <p>J569+CWF, Siguatepeque, Comayagua</p>
        <p>Siguatepeque, Honduras</p>
        <p><strong>Contacto:</strong></p>
        <p>MoliBiblio.com</p>
        <p>+504 9701-4596</p>
      </div>
  
      <div class="footer-column">
        <h4>Síguenos</h4>
        <ul>
          <li>
            <a href="https://www.instagram.com/" target="_blank" rel="noopener">
              <img src="https://cdn-icons-png.freepik.com/256/2111/2111463.png?ga=GA1.1.321535577.1744238257&semt=ais_hybrid" alt="Instagram" class="social-icon">
              Instagram
            </a>
          </li>
          <li>
            <a href="https://twitter.com/" target="_blank" rel="noopener">
              <img src="https://cdn-icons-png.freepik.com/256/3256/3256013.png?ga=GA1.1.321535577.1744238257&semt=ais_hybrid" alt="Twitter" class="social-icon">
              Twitter
            </a>
          </li>
          <li>
            <a href="https://www.linkedin.com/" target="_blank" rel="noopener">
              <img src="https://cdn-icons-png.freepik.com/256/3536/3536505.png?ga=GA1.1.321535577.1744238257&semt=ais_hybrid" alt="LinkedIn" class="social-icon">
              LinkedIn
            </a>
          </li>
        </ul>
      </div>
  
      <div class="footer-column">
        <h4>Legal</h4>
        <ul>
          <li><a href="#">Términos</a></li>
          <li><a href="#">Privacidad</a></li>
        </ul>
      </div>
    </div>
  
    <div class="footer-bottom">
      <p>© 2025 Molina's book. Todos los derechos reservados.</p>
    </div>
  </footer>
