<app-header></app-header>
<div class="home-container">
    <div class="home-text">
      <h1>Descubre miles de libros en línea</h1>
      <p>Accede a nuestra biblioteca virtual y encuentra tu próxima lectura favorita.</p>
      <button class="shop-btn" (click)="goToBooks()">Explorar ahora</button>
    </div>
    <div class="home-image">
      <img src="https://images.unsplash.com/photo-1521587760476-6c12a4b040da?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8YmlibGlvdGVjYXxlbnwwfHwwfHx8MA%3D%3D" alt="Lectura" />
    </div>
  </div>


  <div class="categories-container" id="categorias">
    <p class="subtitle">Categorías de Libros</p>
    <h3>Explora las Mejores <span class="highlight">Categorías</span></h3>
  
    <div class="category-grid">
      <div class="category-item">
        <img src="https://editorialmacroperu.vtexassets.com/arquivos/ids/171481/9788417557072.jpg?v=638309023228570000" alt="Data Science">
        <h4>Fantasia</h4>
      </div>
      <div class="category-item">
        <img src="https://img.freepik.com/vector-gratis/pagina-inicio-ui-ux-degradado_52683-69729.jpg?ga=GA1.1.321535577.1744238257&semt=ais_country_boost&w=740" alt="UI/UX">
        <h4>Ciencia Ficcion</h4>
      </div>
      <div class="category-item">
        <img src="https://img.freepik.com/vector-gratis/plantilla-banner-ciencia-fisica_98292-3666.jpg?ga=GA1.1.321535577.1744238257&semt=ais_country_boost&w=740" alt="Física">
        <h4>Romance</h4>
      </div>
      <div class="category-item">
        <img src="https://img.freepik.com/vector-gratis/iconos-lineales-libro-audio_1257-365.jpg?ga=GA1.1.321535577.1744238257&semt=ais_country_boost&w=740" alt="Música">
        <h4>Misterio</h4>

      </div>
      <div class="category-item">
        <img src="https://img.freepik.com/vector-gratis/conjunto-iconos-concepto-dinero_1284-42611.jpg?t=st=1744238553~exp=1744242153~hmac=13184b5be3fed17504aaa415212f6bf00a77361aafbb3a8c7211fc2d43f6b755&w=740" alt="Finanzas">
        <h4>Horror</h4>
      </div>
      <div class="category-item">
        <img src="https://img.freepik.com/vector-gratis/iconos-museo-conjunto-plano-barrera-lienzo-signo-aislado-ilustracion-vectorial_1284-2955.jpg?ga=GA1.1.321535577.1744238257&semt=ais_country_boost&w=740" alt="Historia">
        <h4>Novela</h4>
      </div>
  </div>
</div>
  