

<header class="header">
    <div class="logo">Molina's<span class="highlight">.book</span></div>
    <nav class="nav-links">
      <a href="#">Inicio</a>
      <a href="#">Libros</a>
      <a href="#categorias" class="nav-link">Categorías</a>
      <a href="/loans">Pretamos</a>
    </nav>
  </header>

<div class="search-bar">
    <input type="text" placeholder="Buscar libros...">
    <button type="button">Buscar</button>  

</div>

<!-- <div class="user-actions"> 
<div class="user-actions">
    <button type="button" class="login-button">Iniciar Sesión</button>
    <button type="button" class="register-button">Registrarse</button>
</div> 

-->





