.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 60px;
  background-color: #f9f5f0; /* Light beige background */
  font-family: 'Segoe UI', sans-serif;
  box-shadow: 0 2px 8px rgba(94, 31, 40, 0.1);
}

.logo {
  font-size: 1.8rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 10px;
  color: #5e1f28;
  font-family: 'Segoe UI', sans-serif;
}

.logo .highlight {
  color: #ae5543; /* Terracotta */
}

.nav-links a {
  margin-left: 30px;
  text-decoration: none;
  color: #8a2f2e;
  font-size: 1rem;
  transition: all 0.3s;
}

.nav-links a:hover {
  color: #ae5543;
  transform: translateY(-2px);
}

.search-bar {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border-radius: 30px;
  padding: 5px 10px;
  box-shadow: 0 2px 8px rgba(94, 31, 40, 0.1);
  width: fit-content;
  max-width: 100%;
  margin: 20px auto;
  border: 1px solid #f7bb75;
}

.search-bar input {
  border: none;
  outline: none;
  padding: 10px 15px;
  border-radius: 30px;
  font-size: 14px;
  width: 250px;
  font-family: 'Segoe UI', sans-serif;
  color: #5e1f28;
}

.search-bar button {
  background-color: #83764c; /* Olive green */
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 30px;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-family: 'Segoe UI', sans-serif;
}

.search-bar button:hover {
  background-color: #5e1f28;
  transform: translateY(-2px);
}

