

<header class="header">
    <div class="logo">Molina's<span class="highlight">.book</span></div>
    <nav class="nav-links">
      <a href="home">Inicio</a>
      <a href="libros">Libros</a>
      <a href="prestamos">Prestamos</a>
      <a href="login">Log Out</a>
    </nav>
  </header>

<!-- <div class="user-actions"> 
<div class="user-actions">
    <button type="button" class="login-button">Iniciar Sesión</button>
    <button type="button" class="register-button">Registrarse</button>
</div> 

-->





