<app-header></app-header>
<div class="search-bar">
    <input type="text" placeholder="Buscar libros, generos...">
    <button type="button">Buscar</button>  
</div>
<div class="books-container">
    <div class="book-card" *ngFor="let book of books">
      <img [src]="book.librosPortada" alt="Portada del libro" class="book-cover">
      <div class="book-details">
        <h3>{{ book.librosTitulo }}</h3>
        <p class="autor"><strong>Autor:</strong> {{ book.librosAutor }}</p>
        <p class="genero"><strong>Género:</strong> {{ book.librosGenero }}</p>
        <p class="fecha"><strong>Fecha de Publicación:</strong> {{ book.librosFechaPublicacion | date }}</p>
        <p class="descripcion"><strong>Descripción:</strong> {{ book.librosDescripcion }}</p>
      </div>
      <div><img [src]="book.librosPortada" alt="Portada del libro" class="upper-book-cover"></div>
    </div>
  </div>